# neural-attendance-rag/backend/requirements.txt
fastapi
uvicorn[standard]
SQLAlchemy
pydantic
tensorflow==2.10.*
numpy<2
opencv-python
torch
pillow
sentence-transformers
python-multipart
matplotlib



-e .